@import "~antd/dist/antd.css";
@import "./overrides.scss";

// Custom variables and classes will be here
// https://sass-lang.com/documentation/variables

// link
$trip-url: "../../assets/st_patrick's_cathedral_new_york.png";

// colors
$darkblue: rgba(0, 21, 41, 1);
$lightblue: rgba(24, 144, 255, 1);

// fonts
$header-font: 0.9375rem;

%flex_align_center {
  display: flex;
  align-items: center;
}

.main-layout {
  min-height: 100vh;
  height: 100%;

  .header-layout {
    position: "fixed";
    z-index: 1;
    width: "100%";
    min-height: 5rem;
    display: flex;
    justify-content: space-between;

    .logo-img {
      width: 4.5rem;
      transform: rotate(-5deg);
    }

    .main-page-buttons {
      @extend %flex_align_center;

      .main-page-text {
        margin: 1rem;
        color: white;
        font-size: $header-font;
      }

      & > *:nth-child(1) {
        margin-right: 2rem;
      }

      & :hover {
        border-bottom: 2px solid white;
        -webkit-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
      }
    }

    .header-elem {
      @extend %flex_align_center;
    }

    .user-icon {
      margin-right: 2rem;
      background-color: $lightblue;
    }
  }

  .content-layout {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}

.dropdown-menu-items {
  margin-right: 2rem;
  border-left: 0.2rem solid $lightblue;
}

.trip-content {
  width: 100%;

  .trip-form-container {
    height: 20rem;

    .trip-form {
      height: 100%;

      .trip-button {
        button[type="submit"] {
          width: 100%;
        }
      }
    }
  }

  .todo-container {
    padding-top: 4rem;
  }
  
  .items-container {
    padding-top: 2rem;
    padding-left: 0.5rem;
  }
}

.site-navigation-steps {
  padding-bottom: 2rem;
}

.trip-img {
  min-height: 5rem;
  background-image: url($trip-url);
  background-repeat: no-repeat;
  background-size: cover;
}

.trip-card-desc {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.delete-trip-button {
  padding: 10px;
}

.todo-button {
  margin-bottom: 20px;
  font-weight: 500;

  &.edit.items {
    margin-bottom: 5px;
  }

  &.edit,
  &.done {
    color: $darkblue;
    border: 2px solid $darkblue;
  }

  &.edit:hover,
  &.done:hover {
    background: $darkblue;
    color: white;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
}

.add-todo-button {
  font-size: 30px;
}

.edit-todo-text input.ant-input {
  width: 80%;
  font-size: 17.5px;
  font-weight: 500;
  padding: 0 0 0.5em 0;
}

.edit-todo-text textarea.ant-input {
  width: 80%;
  padding: 0;
  font-size: $header-font;
  margin-bottom: 5px;
}

.edit-todo-text input.ant-input:focus, .edit-todo-text textarea.ant-input:focus {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 2px solid $lightblue;
}

.edit-todo-dates.ant-picker {
  padding: 0;
}

.progressBar {
  margin-bottom: 1rem;
}

.welcome-label {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.bg-img {
  display: flex;
  justify-content: center;

  img {
    max-width: 50rem;
    width: 100%;
  }
}

.items-to-take-container {
  width: 100%;

  button {
    width: 100%;
  }
}