// Here will be ant design classes overrides

$darkblue: rgba(0, 21, 41, 1);
$lightblue: rgba(24, 144, 255, 1);
$header-font: 0.9375rem;

.ant-form-vertical .ant-form-item-label > label {
  margin-left: 2%;
}

.ant-timeline-item-tail {
  border-left: 2px solid $darkblue;
}

.ant-timeline-item {
  font-size: $header-font;
}

.ant-timeline.ant-timeline-label .ant-timeline-item-head,
.ant-timeline-item-head.ant-timeline-item-head-custom.ant-timeline-item-head-blue {
  margin-left: -7px;
}

.ant-timeline-item-head {
  width: 1rem;
  height: 1rem;
}

.ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content,
 .ant-timeline.ant-timeline-right .ant-timeline-item-right .ant-timeline-item-content,
  .ant-timeline.ant-timeline-label .ant-timeline-item-right .ant-timeline-item-content {
  width: calc(50% - 25px);
}

.ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content,
 .ant-timeline.ant-timeline-right .ant-timeline-item-left .ant-timeline-item-content,
  .ant-timeline.ant-timeline-label .ant-timeline-item-left .ant-timeline-item-content {
  left: calc(50% + 0px);
}

.ant-timeline.ant-timeline-label .ant-timeline-item-right .ant-timeline-item-label {
  left: calc(50% + 25px);
}

.ant-timeline.ant-timeline-label .ant-timeline-item-left .ant-timeline-item-label {
  width: calc(50% - 25px);
}

.ant-timeline-item-head-custom {
  background-color: transparent;
}

.ant-card-hoverable {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-timeline-item-head-blue {
  color: $darkblue;
}

.ant-picker-range {
  width: 100%;
}

.ant-timeline-item-head-custom {
  left: 50%;
}

.ant-progress-inner {
  background-color: gray;
}

.ant-checkbox-wrapper {
  padding: 5px;
  border: 2px solid $darkblue;
  border-radius: 5px;

  span {
    font-size: $header-font;
  }
}