@import "~antd/dist/antd.css";
@import "./overrides.scss";

// Custom variables and classes will be here
// https://sass-lang.com/documentation/variables

// link
$trip-url: "../../assets/st_patrick's_cathedral_new_york.png";

// colors
$darkblue: rgba(0, 21, 41, 1);
$lightblue: rgba(28, 140, 252, 0.88);

// fonts
$header-font: 0.9375rem;

%flex_align_center {
  display: flex;
  align-items: center;
}

.main-layout {
  min-height: 100vh;
  height: 100%;
  
  .header-layout {
    position: 'fixed';
    z-index: 1;
    width: '100%';
    min-height: 5rem;
    display: flex;
    justify-content: space-between;

    .logo-img {
      width: 4.5rem;
      transform: rotate(-5deg);
    }
    
    .main-page-buttons {
      @extend %flex_align_center;

      a {
        margin: 1rem;
        color: white;
        font-size: $header-font;
      }
      
      & > *:nth-child(1) {
        margin-right: 2rem;
      }

      & :hover {
        border-bottom: 2px solid white;
        -webkit-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
      }
    }

    .header-elem{
      @extend %flex_align_center;
    }

    .user-icon {
      margin-right: 2rem;
      background-color: $lightblue;
    }
  }

  .content-layout {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}

.dropdown-menu-items {
  margin-right: 2rem;
  border-left: 0.2rem solid $lightblue;
}

.trip-content {
  width: 100%;

  .trip-form {
    height: 100%;

    .trip-button { 
      button[type=submit] {
        width: 100%;
      }
    }
  }
}

.site-navigation-steps {
  padding-bottom: 2rem;
}

.trip-img {
  min-height: 5rem;
  background-image: url($trip-url);
  background-repeat: no-repeat;
  background-size: cover;
}

.trip-card-desc {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
